* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
}

html {
  font-family: Graphik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
  height: auto;
}

header {
  position: fixed;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3411764706);
  top: 0px;
  background-color: #FFAE30;
  z-index: 500;
}
header .wrap {
  width: 100%;
  align-items: center;
}
header .wrap .logo svg {
  width: 69px;
  height: 30px;
}
header .wrap .logo svg a {
  color: #1fb6ff;
}
header .wrap .menu .title {
  display: flex;
  margin: 0px 20px 0px 0px;
  padding-top: 7px;
}
header .wrap .menu .title a {
  text-decoration: none;
  color: black;
}
header .wrap .menu .title h4 {
  font-size: 15px;
  font-weight: 500;
}
header .wrap .menu .title svg {
  margin: 0px 0px 5px 5px;
}
header .wrap .menu button {
  background-color: #1fb6ff;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
header .wrap .menu button a {
  text-decoration: none;
  color: white;
}
header .wrap .menu .title:hover > a {
  color: #1fb6ff;
}
header .wrap .menu .dropdown {
  position: relative;
  align-items: center;
}
header .wrap .menu .dropdown:hover .dropdown-content {
  display: block;
}
header .wrap .menu .dropdown-content {
  background-color: white;
  position: absolute;
  width: 420px;
  height: auto;
  display: none;
  border: 1.5px solid rgba(128, 128, 128, 0.3411764706);
  top: 32px;
  left: -150px;
  border-radius: 5px;
}
header .wrap .menu .dropdown-content .warpdropdown {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}
header .wrap .menu .dropdown-content .warpdropdown .content-left {
  padding-left: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.1019607843);
  padding-right: 20px;
}
header .wrap .menu .dropdown-content .warpdropdown .content-left,
header .wrap .menu .dropdown-content .warpdropdown .content-right {
  width: 300px;
}
header .wrap .menu .dropdown-content .warpdropdown .content-left ul,
header .wrap .menu .dropdown-content .warpdropdown .content-right ul {
  padding: 0;
}
header .wrap .menu .dropdown-content .warpdropdown .content-left ul li,
header .wrap .menu .dropdown-content .warpdropdown .content-right ul li {
  list-style: none;
  margin: 10px 0px;
}
header .wrap .menu .dropdown-content .warpdropdown .content-left ul li h3,
header .wrap .menu .dropdown-content .warpdropdown .content-right ul li h3 {
  font-weight: 600px;
}
header .wrap .menu .dropdown-content .warpdropdown .content-left ul li p,
header .wrap .menu .dropdown-content .warpdropdown .content-right ul li p {
  font-size: 13px;
}
header .wrap .menu .dropdown-content .warpdropdown .content-left ul li:hover a,
header .wrap .menu .dropdown-content .warpdropdown .content-right ul li:hover a {
  color: #1fb6ff;
}
header .wrap .menu .dropdown-content .warpdropdown .content-right {
  padding: 0px 0px 0px 50px;
}
header .wrap .menu .add .dropdown-content {
  position: absolute;
  border: 1.5px solid rgba(128, 128, 128, 0.3411764706);
  top: 40px;
  left: -500px;
  border-radius: 5px;
  width: 800px;
  height: 298px;
}
header .wrap .menu .add .dropdown-content .warpdropdown .image {
  margin-top: 40px;
  border-right: 1px solid rgba(128, 128, 128, 0.1019607843);
  margin-left: 50px;
  margin-right: 50px;
}
header .wrap .menu .add .dropdown-content .warpdropdown .image img {
  width: 211px;
  height: 160px;
}
header .wrap .menu .add .dropdown-content .warpdropdown .content-left ul,
header .wrap .menu .add .dropdown-content .warpdropdown .content-right ul {
  padding: 0;
}
header .wrap .menu .add .dropdown-content .warpdropdown .content-left ul li,
header .wrap .menu .add .dropdown-content .warpdropdown .content-right ul li {
  list-style: none;
  margin-top: 20px;
}
header .wrap .menu .add .dropdown-content .warpdropdown .content-left ul li h3,
header .wrap .menu .add .dropdown-content .warpdropdown .content-right ul li h3 {
  font-weight: 600px;
}
header .wrap .menu .add .dropdown-content .warpdropdown .content-left ul li p,
header .wrap .menu .add .dropdown-content .warpdropdown .content-right ul li p {
  font-size: 13px;
}
header .wrap .burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}
header .wrap .burger input {
  display: none;
}
header .wrap .burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header .wrap .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
header .wrap .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
header .wrap .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}
header .wrap .burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}
header .wrap .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
header .wrap .burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}
header .navOverlay {
  width: 0;
  position: fixed;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: white;
  z-index: 800;
}
header .navOverlay .menu-mobile {
  z-index: 600;
  padding: 0px 20px;
}
header .navOverlay .menu-mobile .title {
  margin: 20px 0px 0px 0px;
  padding-top: 7px;
}
header .navOverlay .menu-mobile .title a {
  text-decoration: none;
  color: black;
}
header .navOverlay .menu-mobile .title h4 {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
}
header .navOverlay .menu-mobile .title span {
  float: right;
}
header .navOverlay .menu-mobile .dropdown {
  position: relative;
  cursor: pointer;
}
header .navOverlay .menu-mobile .dropdown-content {
  width: 0;
  height: 0;
  overflow-x: hidden;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown {
  left: 0;
  padding: 30px 0px;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-left {
  padding-left: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.1019607843);
  padding-right: 20px;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-left,
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-right {
  width: 300px;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-left ul,
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-right ul {
  padding: 0;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-left ul li,
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-right ul li {
  list-style: none;
  margin: 10px 0px;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-left ul li h3,
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-right ul li h3 {
  font-size: 17px;
  font-weight: 600px;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-left ul li p,
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-right ul li p {
  font-size: 13px;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-left ul li:hover a,
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-right ul li:hover a {
  color: #1fb6ff;
}
header .navOverlay .menu-mobile .dropdown-content .warpdropdown .content-right {
  padding: 0px 0px 0px 20px;
}
header .navOverlay .menu-mobile .show {
  width: 100%;
  height: auto;
  animation: mover 300ms;
}
header .show {
  width: 100%;
}

.com1 {
  background-color: #FFAE30;
  color: white;
}

.intro .text-intro {
  display: inline-block;
  width: 600px;
  height: auto;
  text-align: center;
}
.intro .text-intro h3 {
  font-size: 46px;
  font-weight: 500;
}
.intro .text-intro p {
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 27.2px;
  margin-top: 30px;
}
.intro .content2 {
  display: flex;
  margin-top: 100px;
}
.intro .content2 .row a {
  text-decoration: none;
}
.intro .content2 .row a .item {
  padding: 10px;
  position: relative;
}
.intro .content2 .row a .item svg {
  right: 0;
  position: absolute;
  bottom: 0;
}

.row .col-md-1 .item img {
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */