.userpost {
    margin-top: 100px !important;
}

.signup {
    .text {
        .row {
            .col-md-6 {
                button {
                    padding: 10px;
                    border: none ;
                    border-radius: 10px;
                    background-color: white;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}